body {
    font-family: 'Luxurious Roman', cursive;
}

h1 {
    text-align: center;
    background: linear-gradient(to right, #012a4a, #a9d6e5);
    color: white;
    height: 8vh;
    padding-top: 10px;
    margin-bottom: 20px;
    font-weight: 900;
}

h3, h4 {
    font-weight: 700;
}

input {
    margin-top: 5px;
    width: 80%;
}

.btn {
    width: 80%;
    color: white;
    background-color: #2c7da0;
    margin-top: 10px;
}

.city {
    text-transform: capitalize;
}

.current-weather {
    border: 3px solid #012a4a;
    padding: 10px;
}

p {
    font-size: 2vh;
}

.favorable {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 0 20px 0 20px
}

.moderate {
    background-color: yellow;
    border-radius: 5px;
    padding: 0 20px 0 20px
}

.severe {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 0 20px 0 20px
}

#forecast-container {
    margin: 0;
    padding-top: 10px;
}

.card {
    margin: 10px 32px 0 0;
    background-color: #012a4a;
    color: white;
}